

@font-face {
    font-family: "Noto Emoji";
    src: url("./Noto_Emoji/NotoEmoji-VariableFont_wght.ttf");
}
@font-face {
    font-family: Saira;
    src: url("./Saira/Saira-VariableFont_wdth_wght.ttf");
}
@font-face {
    font-family: Saira;
    src: url("./Saira/Saira-Italic-VariableFont_wdth_wght.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Saira Stencil One";
    src: url("./Saira_Stencil_One/SairaStencilOne-Regular.ttf");
}
@font-face {
    font-family: "Ninito";
    src url("./Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
    font-family: "Ninito";
    src url("./Nunito/Nunito-Italic-VariableFont_wght.ttf");
    font-style: italic;
}
