#distrobox enter dev-box
#Try to make Slint/Winit start in x11 mode (for file drag and drop)
export WINIT_UNIX_BACKEND="x11";
export DISPLAY=":0";
export WAYLAND_DISPLAY="";
export SLINT_ENABLE_EXPERIMENTAL_FEATURES=1
export SLINT_STYLE="fluent-dark"

