@import url("./fonts/fonts.css");

* {
    font-family: "Noto Emoji", Saira;
    font-variation-settings: "wdth" 80, "wght" 100;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: 20% auto;
}

header {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    & ul {
        display: inline;
        & li {
            display: inline;
            list-style: none;
        }
    }
}






