html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#appcontent {
    width: 100vw;
    height: 100vh;
    width: 100vw;
    height: 100vh;
}

#appcontent {
    display: grid;

    grid-template-areas:
        "device-dock device-content"
        "util-panel util-panel";

    grid-template-columns: 75px auto;
    grid-template-rows: auto 75px;

}



#device-dock {
    grid-area: device-dock;
    z-index: 999;
    padding: 3px;
    overflow: scroll;
    max-height: 100%;
    width: calc(100% - 15px);
    transition: width 100ms;

    .navbutton {
        width: calc(100% - 10px);
        min-width: 45px;
        height: 45px;
        margin-left: 4px;

    }
}

#device-dock:hover {
    width: 200px;
}

#device-content {
    grid-area: "device-content";
    display: flex;
    width: calc(100% - 28px);
    margin-left: -30px;
    padding-left: 35px;


    #device-detail-panel {

        #device-detail-head {
            display: grid;

            grid-template-columns: 160px auto;
            grid-template-rows: 160px auto;

            grid-template-areas:
                "device-pic actions"
                "dname dname";

            column-gap: 5px;

            #device-name {
                grid-area: dname;
                text-align: center;
            }

            & img {
                background: blue;
                grid-area: device-pic;
                width: 100%;
                height: 100%;

            }

            #device-action-buttons {
                display: flex;
                grid-area: actions;
                flex-direction: column;
                height: 100%;
                justify-content: space-around;
            }

        }


    }

    #main-view {}

}


#utility-panel {
    display: block;
    grid-area: util-panel;
}
