html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#appcontent {
    width: 100vw;
    height: 100vh;
    width: 100vw;
    height: 100vh;
}

#appcontent {
    display: grid;

    grid-template-areas:
        "device-dock device-detail main-view"
        "util-panel util-panel util-panel";

    grid-template-columns: 75px 260px auto;

}



#device-dock {
    grid-area: "device-dock";
    z-index: 999;
    padding: 3px;
    overflow: scroll;
    max-height: 100%;
    width: calc(100% - 15px);
    transition: width 100ms;

    .navbutton {
        width: calc(100% - 10px);
        min-width: 45px;
        height: 45px;
        margin-left: 4px;

    }
}

#device-dock:hover {
    width: 200px;
}

#device-detail-panel {
    grid-area: "device-detail";

    #device-detail-head {
        display: grid;

        grid-template-areas:
            "device-pic actions"
            "device-name device-name";

        &h2 {
            grid-area: "device-name";
        }

        &img {
            grid-area: "device-pic";
        }

        #device-action-buttons {
            grid-area: "actions";
        }

    }


}

#main-view {
    grid-area: "main-view";
}

#utility-panel {
    display: block;
    grid-area: "util-panel";
}
